<% content_for :title do %>Availability of Membership Platform Capabilities<% end %>
<% content_for :tier do %>Platinum<% end %>

<div class="gridster">
  <ul>
    <h4>Acceptance Tests</h4>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://login-api-at-eu-prod.herokuapp.com/tests/critical', '_blank');">
      <div data-id="login" data-view="Availability" data-title="Log in users to ft.com" data-text="Impact: Users can't login"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://ft-memb-session-api-at-elb-p-301208839.eu-west-1.elb.amazonaws.com/tests/critical-validate', '_blank');">
      <div data-id="validate-session" data-view="Availability" data-title="Validate user sessions" data-text="Impact: Subscribers can't access content"></div>
    </li>
  </ul>
  <ul>
    <h4>Health Checks</h4>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1965634', '_blank');">
      <div data-id="1965634" data-view="Number" data-title="Log in users to ft.com" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2142836', '_blank');">
      <div data-id="2142836" data-view="Number" data-title="Validate user sessions" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
  </ul>
  <ul>
    <h4>Nagios Checks</h4>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://logentries.com/app/3a539d2f#/dashboard/32878', '_blank');">
      <div data-id="login-rt-metrics" data-moreinfo="95th percentile response times - last 12 hours" data-suffix="ms" data-view="Graph" data-title="Log in users to ft.com"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('https://logentries.com/app/3a539d2f#/dashboard/32583', '_blank');">
      <div data-id="validate-session-rt-metrics" data-moreinfo="95th percentile response times - last 12 hours" data-suffix="ms" data-view="Graph" data-title="Validate user sessions"></div>
    </li>
  </ul>
</div>

