<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %></title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.ico">

</head>
  <body>
    <button id="fail">Fail Monitor</button>
    <div id="tier"><%= yield_content(:tier) %> Tier</div>
    <div id="container">
      <%= yield %>
    </div>
  
    <% if development? %>
      <div id="saving-instructions">
        <p>Paste the following at the top of <i><%= params[:dashboard] %>.erb</i></p>
        <textarea id="gridster-code"></textarea>
      </div>
      <a href="#saving-instructions" id="save-gridster">Save this layout</a>
    <% end %>
    <script type="application/javascript">
      $(function(){

        $("#fail").click( function()
            {
              var failMonitor = $("div[data-id='loginapp-us']");
              failMonitor.removeClass("status-available");
              failMonitor.addClass("status-unavailable");
            }
        );

        $.fn.getFailingMonitors = function(){
          return $( "div.status-unavailable" );
        };

        $.fn.getPassingMonitors = function(){
          return $( "div.status-available" );
        };

        $.fn.showScrollingAlert = function(){
          $('#alerts').css('display', 'inline-block');
        };

        $.fn.hideScrollingAlert = function(){
          $('#alerts').css('display', 'none');
        };

        $.fn.showFailureDashboard = function(){

        };

        window.setInterval(function(){
          var failingMonitors = $.fn.getFailingMonitors();
          if(failingMonitors.length > 0){ // If there are failing monitors
            $.fn.showScrollingAlert();
            $.fn.showFailureDashboard();
          } else {
            $.fn.hideScrollingAlert();
          }
        }, 5000);

      });
    </script>
    <div id="alerts" style="display: none; position: fixed; bottom: 0; width: 100%; background-color:black; z-index: 9;">

      <marquee behavior="scroll" direction="left" scrollamount="15" class="tab blink">

        <font color="red" size="23pt" ><b>FAILING MONITOR ALERT 1!!!</b></font>
        <font color="white" size="23pt"><b>&nbsp;&nbsp;Scrolling text with details...</b></font>
        <font color="red" size="23pt"><b>&nbsp;FAILING MONITOR ALERT 2!!!</b></font>
        <font color="white" size="23pt"><b>&nbsp;&nbsp;Scrolling text with details...</b></font>

      </marquee>
    </div>
  </body>
</html>